@font-face {
    font-family: guanabara;
    src: url(fontes/idroid.otf);
}
    

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(200, 206, 22, 0.169);
}
header{
    padding: 30px 0px 13px 0px;
    background-image: linear-gradient(to bottom, green ,rgb(20, 47, 20));
    color: white;
}
h1{
    color: rgb(255, 255, 255);
    font-family: guanabara;
    font-size: 40px;
    text-align: center;
}

p{  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-indent: 25px;
}

.começo{
    margin: 19px 0px 40px 0px;
    font-size: 19px;
    text-align: center;
}

a{
    font-weight: bolder;
    font-size: 18px;
    margin: 0px 7px;
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    text-decoration: underline;
}
main{
    background-color: rgb(255, 255, 255);
    width:auto;
    margin: -2px 150px 0px 150px;
    padding: 5px 40px 0px 40px;
}
picture{
    width: 100%;
    margin: auto;
}

h2{
  
    margin: 25px 0px 0px 0px;
    font-family: guanabara;
    color: rgb(10, 97, 29);
}
h3{ 
    background-image: linear-gradient(to right,rgba(45, 79, 43, 0.564), white);
    background-position: 100%;
    font-family: guanabara;
    color: rgb(13, 56, 8);
    text-align: left;
  
}



footer{
    background-color: rgb(10, 58, 3);
    color: white;
    text-align: center;
}